:host{
  display: block;
    
}
.grid-container {
  margin: 20px;
  background-repeat:repeat;
  background-size: contain;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 15px;
  right: 15px;
  bottom: 5px;
  height: auto;
  background-color: rgba($color: #0000aa, $alpha: 0.3);
  border-color: #000033;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: justify;
}
h6 {
  color: rgba($color: #6746c3, $alpha: 0.8);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 10px;
}

.item-table {
  padding-top: 0;
  color: rgba($color: #fff, $alpha: 0.8);
}
