<app-navbar></app-navbar>
<app-slider></app-slider>
<div class="row d-flex justify-content-around">
    <ng-container *ngFor="let movie of movies">
        <mat-card class="example-card col-3 mx-1 my-2">
            <img mat-card-image [src]="movie.imagen" [alt]="movie.nombre">
            <mat-card-header>
                <mat-card-title>{{movie.nombre |titlecase}}</mat-card-title>
                <mat-card-subtitle>likes: {{movie.likes}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <div class="d-flex justify-content-between">
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>



<app-footer></app-footer>