<div class="container-fluid vh-100">
    <div class="d-flex flex-row vh-100">
        <div class="col-md-12 mx-auto my-auto">
            <div class="text-center">
                <h1 class="error">Error 404</h1>
                <h4>¡UPS! ¡No se pudo encontrar esta página!</h4>
                <p>Lo sentimos, pero la página que estás buscando no existe, se ha eliminado o se ha cambiado de nombre.</p>
                <a routerLink="/" class="btn btn-primary btn-round mt-5">Ir a la pagina de inicio</a>
            </div>
        </div>
    </div>
</div>