$icon-color: #6746c3;

mat-sidenav-content {
  display: block;
  background-color: #12005e;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  color: white;
}

mat-sidenav,
mat-sidenav-content,
mat-toolbar {
  background-color: #12005e;
  color: white;
  font-weight: 700;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.material-icons.md-18 {
  font-size: 18px;
  color: $icon-color;
}
.material-icons.md-24 {
  font-size: 24px;
  color: $icon-color;
}
.material-icons.md-36 {
  font-size: 36px;
  color: $icon-color;
}
.material-icons.md-48 {
  font-size: 48px;
  color: $icon-color;
}

.active {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
}
