<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Cinepelis</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard/form-movies/create/null'" routerLinkActive="active" class="text-light"
        style="cursor: pointer">
        <mat-icon class="md-24">add_circle_outline</mat-icon> New movie
      </a>
      <a mat-list-item routerLink="./" routerLinkActive="active" class="text-light" style="cursor: pointer">
        <mat-icon class="md-24">dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLink="./premieres" routerLinkActive="active" class="text-light" style="cursor: pointer">
        <mat-icon class="md-24">movie_filter</mat-icon> Premieres
      </a>
      <a mat-list-item routerLink="./galery" routerLinkActive="active" class="text-light" style="cursor: pointer">
        <mat-icon class="md-24">image</mat-icon> Galery
      </a>
      <a mat-list-item routerLink="./categories" routerLinkActive="active" class="text-light" style="cursor: pointer">
        <mat-icon class="md-24">perm_media</mat-icon> Categories
      </a>
      <a (click)="singOut()" mat-list-item class="text-light" style="cursor: pointer">
        <mat-icon class="md-24">logout</mat-icon> Sing out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row row-cols-8 col">
        <!-- icono x  -->
        <div class="col row row-cols-3" *ngFor="let item of iconsNav">
          <div class="col">
            <span>
              <mat-icon class="material-icons md-48 col-6" color="primary">{{item.icon}}</mat-icon>
            </span>
          </div>
          <div class="col">
            <span class="display-5">{{item.nroNot}} </span>
          </div>
        </div>

        <!-- icono x  -->
        <!-- <div class="row col">
          <div class="col-4">
            <mat-icon class="material-icons md-48 col-6" color="primary">email</mat-icon>
          </div>
          <div class="col-4"><span class="display-5">{{nroRnd}} </span></div>
        </div> -->

        <!-- icono x  -->
        <!-- <div class="row col">
          <div class="col-4">
            <mat-icon class="material-icons md-48 col-6" color="primary">insert_comment</mat-icon>
          </div>
          <div class="col-4"><span class="display-5">{{nroRnd}} </span></div>
        </div> -->

        <!-- icono x  -->
        <!-- <div class="row col">
          <div class="col-4">
            <mat-icon class="material-icons md-48 col-6" color="primary">forward_to_inbox</mat-icon>
          </div>
          <div class="col-4"><span class="display-5">{{nroRnd}} </span></div>
        </div> -->

        <!-- icono x  -->
        <!-- <div class="row col">
          <div class="col-4">
            <mat-icon class="material-icons md-48 col-6" color="primary">phone</mat-icon>
          </div>
          <div class="col-4"><span class="display-5">{{nroRnd}} </span></div>
        </div> -->
        <!-- icono x  -->
        <!-- <div class="row col">
          <div class="col-4">
            <mat-icon class="material-icons md-48 col-6" color="primary">markunread_mailbox</mat-icon>
          </div>
          <div class="col-4"><span class="display-5">{{nroRnd}} </span></div>
        </div> -->
        <!-- icono x  -->
        <!-- <div class="row col">
          <div class="col-4">
            <mat-icon class="material-icons md-48 col-6" color="primary">settings</mat-icon>
          </div>
          <div class="col-4"><span class="display-5">{{nroRnd}} </span></div>
        </div> -->


      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>