<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row col-md-4 mx-auto my-auto">
        <form class="card shadow" #formRegister="ngForm" (ngSubmit)="registerUser(formRegister)">
            <fieldset class="my-3">
                <h2>Sign Up</h2>
                <hr class="colorgraph">
                <div class="form-group my-2">
                    <input type="email" name="email" id="email" ngModel #email="ngModel" class="form-control"
                        placeholder="Email Address">
                </div>
                <div class="form-group my-2">
                    <input type="password" name="password1" ngModel #password1="ngModel" id="password1"
                        class="form-control" placeholder="Password">
                </div>
                <div class="form-group my-2">
                    <input type="password" name="password2" ngModel #password2="ngModel" id="password2"
                        class="form-control" placeholder="Repeat password">
                </div>
                <hr class="colorgraph">
                <div class="d-flex justify-content-between">
                    <a routerLink="/access/login" class="float-start btn btn-success">Sign In</a>
                    <button type="submit" class="float-end btn btn-primary" >Register now</button>
                </div>
            </fieldset>
        </form>
    </div>

</div>

<app-footer></app-footer>